body {
    font-family: arial;

}

h1 {
    font-family: serif;
    color: black;
    font-size: 1.5em;
    margin-left: 1em;
}

form {
    margin-left: 1em;
    margin-top: 2em;
    padding: 0.5em;
}

button {
    background-color: #aaff80;
    color: black;

}

p {
    color: black;
    font-size: 1em;
    margin-left: 0.75em;
}

a  {
    color: #00ccff;
    margin-left: 0.75em;
}