<!DOCTYPE html>
<html>
    <head lang="en">
            <meta charset="UTF-8">
            <title>Posamezno Opravilo</title>
            <link rel="stylesheet" href="/assets/css/style.css">
    </head>

    <body>
        <h1>Posamezno opravilo</h1>

        <p>ID: {{ opravilo.key.id() }}</p>
        <p>Vnos: {{ opravilo.vnos }}</p>
        <p>Datum {{ opravilo.nastanek }}</p>
        <a href="/opravilo/{{ opravilo.key.id()}}/uredi" style="font-size: 0.75em; color:#5c8a8a">Uredi opravilo</a>
        <a href="/opravilo/{{ opravilo.key.id()}}/izbrisi" style="font-size: 0.75em; color:#ff66cc;
        margin-left: 1em">Izbriši opravilo</a>

    </body>
</html>