<!DOCTYPE html>
<html>
    <head lang="en">
            <meta charset="UTF-8">
            <title>Seznam izbrisanih opravil</title>
            <link rel="stylesheet" href="/assets/css/style.css">
    </head>


    <body>
        <h1>Seznam izbrisanih opravil</h1>
        <br>

        {% for opravilo in seznam %}

            <p><a href="/opravilo/{{ opravilo.key.id() }}">{{ opravilo.vnos }}</a>, {{ opravilo.key.id() }}, {{ opravilo.nastanek }}
            <a href="/opravilo/{{ opravilo.key.id() }}/restore" style="color: #5c8a8a; margin-left: 1em"><em>Ponovno prikaži</em></a>
            </p>
        {% endfor %}
        <br>
        <p><a href="seznam-opravil" style="font-size: 0.75em; color:#ff66cc">Seznam vseh opravil</a></p>

    </body>
</html>
